
.registration-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #37e56b, #ffdf4f); /* Gradient background */
  }
  
  .container {
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    margin: 0 auto; /* Horizontally center the container */
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertically center the form within the container */
    justify-content: center; /* Horizontally center the form within the container */
    min-height: 100vh; /* Adjust this value based on your layout */
  }
  
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h2{
    text-align: center;
    color: #333; /* Dark text color */
    margin-bottom: 20px; /* Increase space below heading */
  }
  h1 {
    text-align: center;
    color: #333; /* Dark text color */
    margin-bottom: 20px; /* Increase space below heading */
  }
  
  .form-group {
    margin: 15px 0;
    align-items: center;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: #444; /* Slightly darker label text */
  }
  
  input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px; /* Rounded corners */
    font-size: 16px;
    color: #333; /* Dark text color */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition on input focus */
  }
  
  input:focus {
    border-color: #0074cc; /* Highlight border on focus */
    box-shadow: 0 0 8px rgba(0, 116, 204, 0.5); /* Add a subtle box shadow on focus */
  }
  
  button {
    background-color: #17a34d;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 6px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition on button hover */
  }
  
  button:hover {
    background-color: #0055a4; /* Darker color on hover */
  }
  
  .center-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 65vh; /* Adjust this value based on your layout */
  }
  
  